In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [38]:
data = pd.read_csv('../Churn_Modelling.csv')
data.sample(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5813,5814,15763515,Shih,513,France,Male,30,5,0.00,2,1,0,162523.66,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
4763,4764,15696564,Nweke,752,France,Male,38,0,145974.79,2,1,1,137694.23,0
3950,3951,15602841,Lockett,794,Spain,Female,28,5,0.00,2,0,1,86699.98,0
3273,3274,15646091,Frankland,560,Spain,Female,43,4,95140.44,2,1,0,123181.44,1
245,246,15797219,Ifesinachi,635,France,Female,40,10,123497.58,1,1,0,131953.23,1
7486,7487,15593694,Williams,814,France,Male,49,8,0.00,2,0,0,157822.54,0
536,537,15592846,Fiorentini,639,Germany,Male,35,10,128173.90,2,1,0,59093.39,0
5611,5612,15721207,Piazza,625,Germany,Male,42,6,100047.33,1,1,0,93429.95,0
2773,2774,15610765,Onwumelu,559,France,Male,29,1,0.00,2,0,0,155639.76,0

In [39]:
# Preprocessing the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [47]:
# data.sample(18)

In [44]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.sample(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2335,724,Germany,0,48,6,110463.25,2,1,1,80552.11,1
9016,577,Spain,1,31,6,0.00,1,1,1,196395.25,0
5921,508,Spain,1,54,10,0.00,1,1,1,175749.36,0
332,663,Germany,1,44,2,117028.60,2,0,1,144680.18,0
5349,684,Germany,1,32,3,102630.13,2,1,1,127433.47,0
3698,589,France,0,21,3,0.00,2,0,1,55601.44,0
2361,686,Germany,0,43,5,154846.24,2,1,1,151903.60,0
3188,801,France,0,32,4,75170.54,1,1,1,37898.50,0
9054,546,France,0,30,5,0.00,2,0,1,198543.09,0
5591,539,France,1,38,5,0.00,2,1,0,47388.41,0

In [43]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# OHE on Geography column 
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(sparse_output=False)
geo_encoder = onehot_encoder.fit_transform(data[['Geography']])
geo_df = pd.DataFrame(geo_encoder, columns=onehot_encoder.get_feature_names_out(['Geography']))
geo_df.sample(10)

      Geography_France  Geography_Germany  Geography_Spain
6380               0.0                1.0              0.0
6208               1.0                0.0              0.0
396                1.0                0.0              0.0
6285               0.0                1.0              0.0
2581               1.0                0.0              0.0
9689               1.0                0.0              0.0
8618               0.0                0.0              1.0
4808               1.0                0.0              0.0
4998               0.0                0.0              1.0
1705               1.0                0.0              0.0

In [7]:
# combine the dataframes
data = pd.concat([data, geo_df], axis=1).drop(['Geography'], axis=1)
data.sample(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
2404,631,1,37,8,138292.64,2,0,0,152422.91,1,0.0,1.0,0.0
7944,520,0,39,1,73493.17,1,0,1,109626.13,1,1.0,0.0,0.0
824,600,1,36,4,0.00,2,1,0,143635.36,0,0.0,0.0,1.0
2396,600,0,27,3,0.00,2,0,1,125698.97,0,1.0,0.0,0.0
2087,716,0,52,7,65971.61,2,1,0,14608.00,1,1.0,0.0,0.0
9905,645,1,41,2,93925.30,1,1,0,123982.14,1,0.0,1.0,0.0
5565,683,1,35,5,144961.97,1,0,1,26796.73,0,0.0,1.0,0.0
4514,669,0,38,8,0.00,2,1,0,84049.16,0,1.0,0.0,0.0
231,610,1,40,0,0.00,2,1,0,62232.60,0,1.0,0.0,0.0
5716,611,1,37,1,117524.72,2,0,1,161064.29,0,0.0,1.0,0.0

In [8]:
# split feature and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
# Standard scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [11]:
# save the encoders and scaler for later use 
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)
with open('onehot_encoder.pkl', 'wb') as f:
    pickle.dump(onehot_encoder, f)
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# ANN with Regression

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# Build our ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

# compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

# summery
model.summary()

d:\Code\DS_ML_AI\GenAI\section13-ANN-Prject\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Logs setup
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

# SEtup TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# setup EarlyStopping
early_stopping_callbacks = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    x_train, y_train, 
    validation_data=(x_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callbacks]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 7ms/step - loss: 100393.1406 - mae: 100393.1406 - val_loss: 98581.7266 - val_mae: 98581.7266
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 99880.3203 - mae: 99880.3203 - val_loss: 97553.6016 - val_mae: 97553.6016
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 98064.3438 - mae: 98064.3438 - val_loss: 94887.8828 - val_mae: 94887.8828
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 94411.6953 - mae: 94411.6953 - val_loss: 90286.2188 - val_mae: 90286.2188
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 88861.0078 - mae: 88861.0078 - val_loss: 83941.2734 - val_mae: 83941.2734
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 81745.8594 - mae: 81745.8594 - val_loss: 76466.3438 - val_mae: 76466.3438
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 73937.0156 - mae: 73937.0156 - val_loss: 68953.2891 - val_mae: 68953.2891
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 66445.2500 - mae: 66445.2500 - val_loss: 62305.6562 - val_mae: 62305.6562
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - loss: 60148.5977 - mae: 60148.5977 - val_loss: 57126.9023 - val_mae: 57126.9023
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 55599.5664 - mae: 55599.5664 - val_loss: 53706.4492 - val_mae: 53706.4492
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 52775.0312 - mae: 52775.0312 - val_loss: 51794.6562 - val_mae: 51794.6562
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 51250.3125 - mae: 51250.3125 - val_loss: 51000.0195 - val_mae: 51000.0195
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 50552.9492 - mae: 50552.9492 - val_loss: 50757.4883 - val_mae: 50757.4883
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 10ms/step - loss: 50258.7969 - mae: 50258.7969 - val_loss: 50673.6523 - val_mae: 50673.6523
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50118.6172 - mae: 50118.6172 - val_loss: 50634.6875 - val_mae: 50634.6875
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50047.1602 - mae: 50047.1602 - val_loss: 50611.0938 - val_mae: 50611.0938
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49999.6875 - mae: 49999.6875 - val_loss: 50602.6797 - val_mae: 50602.6797
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49958.5547 - mae: 49958.5547 - val_loss: 50588.8789 - val_mae: 50588.8789
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49922.3828 - mae: 49922.3828 - val_loss: 50573.2344 - val_mae: 50573.2344
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49890.8398 - mae: 49890.8398 - val_loss: 50559.7383 - val_mae: 50559.7383
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 9ms/step - loss: 49862.2305 - mae: 49862.2305 - val_loss: 50546.1406 - val_mae: 50546.1406
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49836.6016 - mae: 49836.6016 - val_loss: 50533.0391 - val_mae: 50533.0391
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49810.5078 - mae: 49810.5078 - val_loss: 50521.4297 - val_mae: 50521.4297
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49790.7305 - mae: 49790.7305 - val_loss: 50514.5977 - val_mae: 50514.5977
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49769.0586 - mae: 49769.0586 - val_loss: 50508.1484 - val_mae: 50508.1484
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49748.6094 - mae: 49748.6094 - val_loss: 50505.0352 - val_mae: 50505.0352
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49728.7852 - mae: 49728.7852 - val_loss: 50488.4727 - val_mae: 50488.4727
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49712.3516 - mae: 49712.3516 - val_loss: 50481.8906 - val_mae: 50481.8906
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49690.1836 - mae: 49690.1836 - val_loss: 50476.0703 - val_mae: 50476.0703
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49676.2031 - mae: 49676.2031 - val_loss: 50470.5586 - val_mae: 50470.5586
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49658.4375 - mae: 49658.4375 - val_loss: 50467.5039 - val_mae: 50467.5039
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49644.0586 - mae: 49644.0586 - val_loss: 50460.6523 - val_mae: 50460.6523
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49629.8281 - mae: 49629.8281 - val_loss: 50463.6289 - val_mae: 50463.6289
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49616.8359 - mae: 49616.8359 - val_loss: 50453.0469 - val_mae: 50453.0469
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49605.1914 - mae: 49605.1914 - val_loss: 50451.4453 - val_mae: 50451.4453
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49594.7695 - mae: 49594.7695 - val_loss: 50445.0508 - val_mae: 50445.0508
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49580.8242 - mae: 49580.8242 - val_loss: 50441.4531 - val_mae: 50441.4531
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49570.0117 - mae: 49570.0117 - val_loss: 50441.1875 - val_mae: 50441.1875
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49559.9883 - mae: 49559.9883 - val_loss: 50434.4883 - val_mae: 50434.4883
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49550.2617 - mae: 49550.2617 - val_loss: 50435.2266 - val_mae: 50435.2266
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49541.1445 - mae: 49541.1445 - val_loss: 50436.5742 - val_mae: 50436.5742
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49532.7109 - mae: 49532.7109 - val_loss: 50424.0547 - val_mae: 50424.0547
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49523.1953 - mae: 49523.1953 - val_loss: 50427.7266 - val_mae: 50427.7266
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49515.1680 - mae: 49515.1680 - val_loss: 50421.7617 - val_mae: 50421.7617
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49506.5703 - mae: 49506.5703 - val_loss: 50419.6445 - val_mae: 50419.6445
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49500.1328 - mae: 49500.1328 - val_loss: 50416.6289 - val_mae: 50416.6289
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49490.6758 - mae: 49490.6758 - val_loss: 50421.3047 - val_mae: 50421.3047
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49486.3125 - mae: 49486.3125 - val_loss: 50415.3945 - val_mae: 50415.3945
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49476.4023 - mae: 49476.4023 - val_loss: 50411.1016 - val_mae: 50411.1016
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49473.9805 - mae: 49473.9805 - val_loss: 50415.4570 - val_mae: 50415.4570
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49464.6328 - mae: 49464.6328 - val_loss: 50412.8867 - val_mae: 50412.8867
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49457.8086 - mae: 49457.8086 - val_loss: 50403.5000 - val_mae: 50403.5000
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49453.4883 - mae: 49453.4883 - val_loss: 50395.4766 - val_mae: 50395.4766
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49446.8047 - mae: 49446.8047 - val_loss: 50398.6094 - val_mae: 50398.6094
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49441.2930 - mae: 49441.2930 - val_loss: 50403.5859 - val_mae: 50403.5859
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49434.6289 - mae: 49434.6289 - val_loss: 50404.0391 - val_mae: 50404.0391
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49430.3438 - mae: 49430.3438 - val_loss: 50405.6250 - val_mae: 50405.6250
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49422.5664 - mae: 49422.5664 - val_loss: 50395.7461 - val_mae: 50395.7461
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49418.9141 - mae: 49418.9141 - val_loss: 50387.5898 - val_mae: 50387.5898
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49416.1914 - mae: 49416.1914 - val_loss: 50388.7539 - val_mae: 50388.7539
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49407.5039 - mae: 49407.5039 - val_loss: 50391.1758 - val_mae: 50391.1758
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49403.8047 - mae: 49403.8047 - val_loss: 50395.8477 - val_mae: 50395.8477
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49400.3555 - mae: 49400.3555 - val_loss: 50390.8789 - val_mae: 50390.8789
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49395.3633 - mae: 49395.3633 - val_loss: 50391.1367 - val_mae: 50391.1367
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49390.4258 - mae: 49390.4258 - val_loss: 50385.9219 - val_mae: 50385.9219
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49385.5938 - mae: 49385.5938 - val_loss: 50380.0781 - val_mae: 50380.0781
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49380.6914 - mae: 49380.6914 - val_loss: 50384.5469 - val_mae: 50384.5469
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49376.0039 - mae: 49376.0039 - val_loss: 50377.7305 - val_mae: 50377.7305
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49373.5938 - mae: 49373.5938 - val_loss: 50377.2891 - val_mae: 50377.2891
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49366.6875 - mae: 49366.6875 - val_loss: 50376.9102 - val_mae: 50376.9102
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49363.9844 - mae: 49363.9844 - val_loss: 50384.8438 - val_mae: 50384.8438
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49361.4023 - mae: 49361.4023 - val_loss: 50376.8359 - val_mae: 50376.8359
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49355.4258 - mae: 49355.4258 - val_loss: 50397.1133 - val_mae: 50397.1133
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49353.7148 - mae: 49353.7148 - val_loss: 50386.4453 - val_mae: 50386.4453
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49347.9414 - mae: 49347.9414 - val_loss: 50377.5898 - val_mae: 50377.5898
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49344.5117 - mae: 49344.5117 - val_loss: 50391.2031 - val_mae: 50391.2031
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49342.5000 - mae: 49342.5000 - val_loss: 50389.3125 - val_mae: 50389.3125
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49337.5430 - mae: 49337.5430 - val_loss: 50375.0312 - val_mae: 50375.0312
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49336.5586 - mae: 49336.5586 - val_loss: 50385.2773 - val_mae: 50385.2773
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49330.5156 - mae: 49330.5156 - val_loss: 50389.5156 - val_mae: 50389.5156
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49328.4453 - mae: 49328.4453 - val_loss: 50400.8750 - val_mae: 50400.8750
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49327.9609 - mae: 49327.9609 - val_loss: 50400.4375 - val_mae: 50400.4375
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49322.4727 - mae: 49322.4727 - val_loss: 50393.1641 - val_mae: 50393.1641
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49320.3281 - mae: 49320.3281 - val_loss: 50390.5273 - val_mae: 50390.5273
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49316.2773 - mae: 49316.2773 - val_loss: 50398.6172 - val_mae: 50398.6172
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49314.2930 - mae: 49314.2930 - val_loss: 50408.1172 - val_mae: 50408.1172
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49313.6641 - mae: 49313.6641 - val_loss: 50405.1914 - val_mae: 50405.1914
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 49309.9336 - mae: 49309.9336 - val_loss: 50411.3125 - val_mae: 50411.3125

In [18]:
# evaluate the model
%load_ext tensorboard

In [20]:
# launch tensorboard
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 9384), started 0:00:14 ago. (Use '!kill 9384' to kill it.)

In [25]:
# Evaluate the model on test data
test_loss, test_mae = model.evaluate(x_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 50375.0312 - mae: 50375.0312
Test MAE: 50375.03125

In [26]:
# save regression model
model.save('salary_regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.